{% load static %}

<footer>
  <div class="row"> 
    <div class="col-sm-12 col-md-12 col-lg-4 mt-md-4" id="redes">
      <img src="{% static 'core/img/instagram.png' %}" alt="logo instagram">
      <img src="{% static 'core/img/youtube.png' %}" alt="logo youtube">
      <img src="{% static 'core/img/facebook.png' %}" alt="logo facebook">
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <h2>¿Quienes somos?</h2>
      <p>Smart Events es una empresa de difusión de eventos estudiantiles y culturales.</p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 mt-md-3">
      <h1>Contacto</h1>
      <p>smart.events@gmail.com</p>
      <p>+569 1234 5678</p>
    </div>
  </div>
</footer>
