header {
    background-color: #2D46B9;
    position: sticky;
    top: 0;
    z-index: 10;
}

#titulo-header {
    display: flex;
    align-items: center;
    font-family: "Neon";
    color: white;
    font-size: 4vh;
}

#lista {
    display: flex;
    margin-left: auto;
    align-items: center;
}

#lista a {
    color: white;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
    padding: 0 15px;
}

#lista a:hover {
    color: #F037A5
}

#logo {
    width: 10vh;
    height: auto;
}